<div class="contenedorControles">
    <button [disabled]="isFuncionando" (click)="iniciar()">Inciar</button>
    <button [disabled]="!isFuncionando" (click)="parar()">Parar</button>
    <label >densidad de población</label><input type="number" [(ngModel)]="densidadPoblacionMod"  [min]="minDenPo" [max]="maxDenPo" step="0.05">
    <button (click)="reiniciar()">Reiniciar Aleatorio</button>
    <button (click)="reiniciar0()">Reiniciar a 0</button>
    
  </div>
  <p>Generation {{this.getContadorGeneraciones()}}</p>
  