<div class="contenedorCotroles">
    <button [disabled]="isFuncionando" (click)="iniciar()">Inciar</button>
    <button [disabled]="!isFuncionando" (click)="parar()">Parar</button>
    <label >densidad de población</label><input type="number" [(ngModel)]="densidadPoblacion" (ngModelChange)="onChange($event)" min="0" max="0.9" step="0.05">
    <button (click)="reiniciar()">Reiniciar Aleatorio</button>
    <button (click)="reiniciar0()">Reiniciar a 0</button>
    <label >tamaño cuadrícula</label>
    <!-- <input type="number" [(ngModel)]="ancho"  min="10" max="200"> -->
  </div>
  <p>Generation {{this.getContadorGeneraciones()}}</p>
  