.controles{
    border-radius: 10px;
    border: 2px black solid;
    background-color: #b0f3df;
    padding: 10px;
    width: 20vw;
    min-width: 388px;
    min-height: 388px;
    margin: 2px;
}

.cuadricula{
    cursor: pointer;
    border-radius: 10px;
    border: 2px black solid;
    padding: 4px;
    margin: 2px;
    background-color: #992302;;
}

.contenido{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap; 
    height: 100vh;

}